
.header1{
    background-color: rgb(253,204,182) ;
    padding:20px;
}
nav{
   color: green;
  /* background-color: rgb(250, 235, 235); */
   justify-content: center !important;
}

h1{
position: relative;
top:30px;
text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.header-buttons{
    justify-content: end;
    position: relative;
top:40px;
text-align: end;
}
.navbar{
    border-bottom: 1px rgb(187, 186, 186) solid;
}
.nav-item{
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding:0px 15px;
    text-align: center;
    transition: all 200ms ease-in-out;
}
.nav-item:hover{
    color:grey;
    cursor:pointer;

}
.navbar-collapse{
  justify-content: center !important;
}
.icons{
    position: relative;
top:3px;
color: rgb(253,204,182) ;
font-size: 20px;

}
.slides{
  display: none;
}